@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer utilities {
  .border-gradient {
    background-image: linear-gradient(
        theme('colors.towni-brown-light.100'),
        theme('colors.towni-brown-light.100')
      ),
      linear-gradient(
        theme('colors.towni-brown-light.200'),
        theme('colors.towni-brown.100')
      );
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }

  .fill-gradient {
    background-image: linear-gradient(
        theme('colors.towni-brown-light.200'),
        theme('colors.towni-brown.100')
      ),
      linear-gradient(
        theme('colors.towni-brown-light.200'),
        theme('colors.towni-brown.100')
      );
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
}
